body {
font-family: 'Lato', sans-serif;
}
input[type=Shorten], input[type=submit], input[type=reset] {
  background:    #3592e7;
border-radius: 11px;
padding:       22px 47px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 'Lato', sans-serif;
text-align:    center;
}
